In [6]:
import pandas as pd
from sklearn.metrics import r2_score
from io import StringIO

In [7]:
ytrue= "robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body\nda Vinci Surgical System,4377,47000,97969,37320\nKITT,90043,73282,18868,45540\nThe Tachikomas,2114,68111,75162,36340\nToyota violin-playing,63730,85704,78717,57020\nGERTY,81519,26677,65519,43420\nMega Man,22714,9740,73137,26380\nRock \u2018Em Sock \u2018Em Robots,87886,67925,58101,53460\nDoraemon,16788,85783,86233,47200\nAwesom-O,7448,54163,33401,23740\nHK-47,46131,58449,92296,49200\nED-209,77228,10734,54945,35720\nBeer-Fetching Robot,59627,81878,23861,41340\nBishop,96414,66998,4115,41880\nThe Energizer Bunny,68804,14932,37880,30400\nH.E.L.P.eR.,78159,8060,63274,37360\nClank,11578,84323,86292,45540\n"
ypred = "robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body\nClank,43973,25595,58504,32000\nDaft Punk,96371,61676,31481,47380\nJohnny 5,66511,38385,47953,38200\nThe Robot,58752,89090,51497,49820\nMr. Roboto,94246,12826,74877,45480\nMarvin the Paranoid Android,53874,16704,21492,23000\nLego Mindstorms NXT,483,48426,29257,19540\nRobbie,22657,2013,75082,24920\nAstro Boy,34499,33062,86296,38460\nThe Iron Giant,57496,90149,29823,44360\nOptimus Prime,13205,4869,76120,23540\nRoomba,22875,32377,76437,32920\nDJ Roomba,68704,8287,77907,38720\nCindi Mayweather,17676,41995,68166,31940\nMark Z,85325,88067,64264,59400\nRosie,83044,74974,41489,49860\nCrow T. Robot/Tom Servo,96983,26930,21595,36360\nK-9,35898,69605,83592,47260\nThe Terminator,65268,47748,50964,40980\nThe Maschinenmensch,10278,91180,46682,37020\nASIMO,4955,37023,59065,25260\nGLaDOS,59036,20960,26556,26620\nThe Final Five,83686,46654,71010,50320\nSojourner,56273,199,31862,22080\nData,86581,27309,21246,33780\nR2D2,45064,59797,37373,35540\nBender Bending Rodriguez,61198,51705,13208,31520\nWall-E,66709,19032,72116,39460"

In [50]:
def my_model_evaluation_journey_r2_score(ytrue,ypred):
    ytrue = pd.read_csv(StringIO(ytrue))
    ypred = pd.read_csv(StringIO(ypred))
    if ytrue.shape == ypred.shape:
        pass
    else:
        ypred = ypred.iloc[:ytrue.shape[0],:ytrue.shape[1]]
    ytrue.drop([ytrue.columns[0]],axis=1,inplace=True)
    ypred.drop([ypred.columns[0]],axis=1,inplace=True)
    return ytrue

In [51]:
my_model_evaluation_journey_r2_score(ytrue,ypred)

    nbr_pieces_head  nbr_pieces_arms  nbr_pieces_legs  nbr_pieces_body
0              4377            47000            97969            37320
1             90043            73282            18868            45540
2              2114            68111            75162            36340
3             63730            85704            78717            57020
4             81519            26677            65519            43420
5             22714             9740            73137            26380
6             87886            67925            58101            53460
7             16788            85783            86233            47200
8              7448            54163            33401            23740
9             46131            58449            92296            49200
10            77228            10734            54945            35720
11            59627            81878            23861            41340
12            96414            66998             4115            41880
13            68804            14932            37880            30400
14            78159             8060            63274            37360
15            11578            84323            86292            45540

In [53]:
my_model_evaluation_journey_r2_score("robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body\nda Vinci Surgical System,4377,47000,97969,37320\nKITT,90043,73282,18868,45540\nThe Tachikomas,2114,68111,75162,36340\nToyota violin-playing,63730,85704,78717,57020\nGERTY,81519,26677,65519,43420\nMega Man,22714,9740,73137,26380\nRock \u2018Em Sock \u2018Em Robots,87886,67925,58101,53460\nDoraemon,16788,85783,86233,47200\nAwesom-O,7448,54163,33401,23740\nHK-47,46131,58449,92296,49200\nED-209,77228,10734,54945,35720\nBeer-Fetching Robot,59627,81878,23861,41340\nBishop,96414,66998,4115,41880\nThe Energizer Bunny,68804,14932,37880,30400\nH.E.L.P.eR.,78159,8060,63274,37360\nClank,11578,84323,86292,45540\n", "robot_model_name,nbr_pieces_head,nbr_pieces_arms,nbr_pieces_legs,nbr_pieces_body\nClank,14601,53241,46753,14320\nDaft Punk,77192,96003,52428,28200\nJohnny 5,44847,79782,75516,25010\nThe Robot,64384,80351,44125,23600\nMr. Roboto,66568,39482,28859,16860\nMarvin the Paranoid Android,31685,82309,34680,18580\nLego Mindstorms NXT,63605,9045,61096,16710\nRobbie,8360,57077,58281,15460\nAstro Boy,51957,82197,12058,18270\nThe Iron Giant,33194,53981,79442,20820\nOptimus Prime,17091,87757,96114,25120\nRoomba,52535,47605,88842,23620\nDJ Roomba,95132,71253,59571,28240\nCindi Mayweather,43818,46565,98610,23620\nMark Z,5615,88277,5015,12360\nRosie,34547,87549,14624,17090\nCrow T. Robot/Tom Servo,73698,29551,62895,20760\nK-9,88518,78676,71864,29880\nThe Terminator,59668,27026,39786,15810\nThe Maschinenmensch,94614,63674,77724,29500\nASIMO,94155,28313,40588,20380\nGLaDOS,77054,91633,69425,29760\nThe Final Five,1433,61224,93801,19550\nSojourner,12440,53386,16671,10310\nData,79878,47819,58048,23210\nR2D2,87515,23733,7454,14830\nBender Bending Rodriguez,46317,14363,88459,18640\nWall-E,33332,30472,14270,9750")

    nbr_pieces_head  nbr_pieces_arms  nbr_pieces_legs  nbr_pieces_body
0              4377            47000            97969            37320
1             90043            73282            18868            45540
2              2114            68111            75162            36340
3             63730            85704            78717            57020
4             81519            26677            65519            43420
5             22714             9740            73137            26380
6             87886            67925            58101            53460
7             16788            85783            86233            47200
8              7448            54163            33401            23740
9             46131            58449            92296            49200
10            77228            10734            54945            35720
11            59627            81878            23861            41340
12            96414            66998             4115            41880
13            68804            14932            37880            30400
14            78159             8060            63274            37360
15            11578            84323            86292            45540